# # Use the official Node.js image
# FROM node:18-alpine

# # Set the working directory inside the container
# WORKDIR /usr/src/app

# # Install dependencies necessary for Prisma
# RUN apk add --no-cache openssl

# # Copy package.json and package-lock.json for installing dependencies
# COPY package*.json ./

# # Install dependencies
# RUN npm install

# # Install Prisma CLI globally
# RUN npm install -g prisma

# # Copy the rest of your application code
# COPY . .

# # Generate Prisma client
# RUN npx prisma generate

# # Build the NestJS application
# RUN npm run build

# # Expose the port your app runs on
# EXPOSE 8080

# # Start the application
# CMD ["npm", "run", "start:prod"]
