

BASE_URL=http://localhost:8080

DATABASE_URL='mysql://admin:Root@123@localhost:3306/medtracker'

JWT_SECRET='My name is shishir adhikari from pokhara'

MAIL_FROM=noreply@medtracker.com

MAIL_HOST=smtp.gmail.com


MAIL_PASSWORD=

MAIL_PORT=587

MAIL_USER=

PORT=8080

TWILIO_ACCOUNT_SID=

TWILIO_AUTH_TOKEN=

TWILIO_PHONE_NUMBER=

